In [1]:
import os
import pandas as pd
import numpy as np
import time
path = os.path.dirname(os.path.realpath('__file__'))
print(path)
rate = pd.read_csv(path + '\\ML\\ratings.csv')
rate.shape

C:\Users\Rowida Nagah

(100836, 4)

In [2]:
import os
import pandas as pd
import numpy as np
import time
path = os.path.dirname(os.path.realpath('__file__'))
print(path)
movies = pd.read_csv(path + '\\ML\\movies.csv')
print(movies.shape)
movies.head()

C:\Users\Rowida Nagah
(9742, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
v = sorted(rate["movieId"])
from itertools import groupby
v =[len(list(group)) for key, group in groupby(v)]
  #v is the number of votes for each movi
len(v)

9724

In [17]:
num_rate = pd.Series(v)
movies['num of ratings'] = pd.DataFrame(num_rate) 
movies.head()

,movieId,title,genres,num of ratings
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,110.0
2,3,Grumpier Old Men (1995),Comedy|Romance,52.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,7.0
4,5,Father of the Bride Part II (1995),Comedy,49.0

In [19]:
m= movies['num of ratings'].quantile(0.9)
m

27.0